body{background: #43d37d;}#tabella{}#logo{width:50%;}#file{background:#76fcac;border-radius:
	20px;width:250px;height:50px;}#form{margin-top:35%;}
.pulsante{background: #76fcac;border-radius: 50%;width: 100px;height: 100px;margin-top: 5%;
	font: italic 22px Helvetica, sans-serif;color: black;}.pulsante:hover 
{background: #76fcac;border-radius: 50%;width: 120px;height: 120px;font: italic 25px Helvetica, sans-serif;color: black;}
